In [21]:
from os import getenv
import json
import jinja2
import pymssql
from dotenv import load_dotenv
from flask import Flask, render_template, jsonify
from weasyprint import HTML
import numpy as np
import pandas as pd
from collections import deque

In [22]:
data = {}
id = '1001'
seat_table_df = pd.DataFrame()

with open('data.json', encoding='utf8') as json_file:
    data = json.load(json_file)

temp_data = data[id]
room_id = temp_data[0][3]
row_count = int(temp_data[0][5])
col_count = int(temp_data[0][6])

In [23]:
row_index = [i+1 for i in range(row_count)]
col_index = [f'第{i+1}排' for i in range(col_count)]
seat_table_df = pd.DataFrame(np.arange(0, col_count*row_count).reshape(
    (col_count, row_count)), columns=[row_index], index=col_index).T
print(seat_table_df)

   第1排  第2排  第3排  第4排  第5排  第6排  第7排  第8排  第9排 第10排
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [24]:
stud_list = deque()
for i in data[id]:
    stud_list.appendleft(f'{i[1]}')

In [25]:
for i in range(row_count*col_count):
    if stud_list:
        if i % 2 == 0:
            seat_table_df.replace(
                i,
                stud_list.pop(), inplace=True)
        else:
            seat_table_df.replace(
                i,
                '', inplace=True)
    else:
        seat_table_df.replace(
            i,
            '', inplace=True)
if row_count % 2 == 0:
    for i in range(2,col_count+1,2):
        seat_table_df[f'第{i}排'] = seat_table_df[f'第{i}排'].shift(1)
print(seat_table_df)

   第1排  第2排  第3排  第4排  第5排  第6排  第7排  第8排  第9排 第10排
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN